:root {
  --off-white: #FAF9F6;
  /* --ultra-violet: #7F00FF; */
  --ultra-violet: #FCCF55;
  --ultra-black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

a {

  text-decoration: none;
  color: inherit;

}

body {

  display: flex;
  flex-direction: column;
  background-color: var(--ultra-black);
  color: var(--off-white);
  font-family: 'Poppins', sans-serif;

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Navbar */

.logo {

  padding-left: 25px;
  font-size: 45px;
  color: var(--off-white);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.8s;
  opacity: 0;
  animation: fade-in 1s forwards;

}

.logo:hover {

  color: var(--ultra-violet);

}

.logo:not(:hover) {

  color: var(--off-white);

}

.nav-container {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0;
  animation: fade-in 1s forwards;

}

nav {

  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav ul {

  display: flex;
  list-style: none;

}

nav ul li {

  margin: 0 17px;
   
}

nav ul li a {

  color: var(--off-white);
  text-decoration: none;
  font-size: 35px;
  position: relative;

}

nav ul li a::after {

  content: '';
  width: 0%;
  height: 3px;
  background: var(--ultra-violet);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.6s;

}

nav ul li a:hover::after {

  width: 100%;

}

/* Main Content */

.home {

  height: 95vh;
  display: flex;
  align-items: center;
  padding: 0 10%;

}

.home-content {

  max-width: 600px;

}

.home-content h1 {

  font-size: 2rem;
  font-weight: 850;
  line-height: 2, 2;
  opacity: 0;
  animation: fade-in 1s forwards;

}

#greeting {

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: var(--ultra-violet);
  font-weight: bold;

}

#name {

  text-decoration: underline;
  text-decoration-color: var(--ultra-violet);
  text-decoration-thickness: 2.5px;
  font-weight: 750;

}

.home-content h3 {

  font-size: 1.5rem;
  font-weight: 700;
  color: var(--ultra-violet);
  opacity: 0;
  animation: fade-in 1s forwards;

}

.home-content p {

  font-size: 1rem;
  margin: 15px 0 40px;
  opacity: 0;
  animation: fade-in 1s forwards;

}

.home-content .btn-box {

  display: flex;
  justify-content: space-between;
  width: 355px;
  height: 50px;
  opacity: 0;
  animation: fade-in 1s forwards;

}

/* Contact Me and Get CV buttons */

.btn-box a {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 100%;
  background: var(--ultra-violet);
  border: 2px solid var(--ultra-violet);
  border-radius: 5000px;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1.5px;
  transition: all 0.3s;

}

.btn-box a:nth-child(1):hover {

  color: black;

}


.btn-box a:nth-child(2) {

  background: transparent;
  color: var(--off-white);

}

.btn-box a:hover {

  transform: scale(1.2);

}

/* Social Media Icons */

.home-socials {

  position: absolute;
  bottom: 200px;
  width: 170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
  animation: fade-in 1s forwards;

}

.home-socials a {

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2.5px solid var(--ultra-violet);
  border-radius: 50%;
  font-size: 30px;
  color: var(--off-white);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;

}

.home-socials a::before {

  content: '';
  position: absolute;
  display: inline-flex;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--ultra-violet);
  z-index: -1;
  transition: 0.5s;

}

.home-socials a:hover::before {

  width: 100%;

}

.home-socials a:hover {

  color: black;

}

/* Portrait */

.image-container {

  position: absolute;
  top: 245px;
  right: 275px;

}

.portrait {

  border-radius: 500px;
  width: 650px;
  align-items: center;
  justify-content: center;

}

/* About Me */
.who-am-i {

  text-align: left;
  position: fixed;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
  max-width: 650px;
  opacity: 0;
  animation: fade-in 1s forwards;

}

.who-am-i h2 {

  font-size: 4rem;
  font-weight: bold;
  color: var(--off-white);
  margin-bottom: 10px;
  animation: fade-in 1s forwards;

}

.who-am-i p {

  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--off-white);
  margin-bottom: 20px;
  text-align: justify;
  animation: fade-in 1s forwards;

}

#questionmark {

  color: var(--ultra-violet);
  animation: fade-in 1s forwards;

}

.about-img {

  position: fixed;
  top: 50%;
  left: 135%;
  transform: translateY(-50%);
  max-width: 475px;
  border-radius: 2%;

}

/* Portfolio Content */

/* Media Queries */

/* add spacing on nav, make greeting smaller, make heading smaller, format text better, align buttons center, give spacing upwards for media links*/

@media (max-width:820px) and (max-height: 1180px)  {

  .image-container {

    display: none;

  }

  nav {

    padding-right: 35px;
  
  }
  
  nav ul li {
  
    margin: 0 10px;
     
  }
  
  nav ul li a {
  
    font-size: 35px;
  
  }

  .logo {

    padding-left: 35px;
    font-size: 40px;
  
  }

  /* Home media query */

  .home {

    height: 85vh;
    display: flex;
    align-items: center;
  
  }
  
  .home-content {
  
    max-width: 750px;
  
  }
  
  .home-content h1 {
    
    margin-bottom: 45px;
    font-size: 40px;
    font-weight: 850;
  
  }
  
  .home-content h3 {
  
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 750;
  
  }
  
  .home-content p {
  
    font-size: 25px;
    line-height: 1.7; 
    margin: 15px 0 30px; 
  
  
  }
  
  .home-content .btn-box {
  
    width: 500px;
    height: 60px;
  
  }

  .btn-box a {


    margin-top: 70px;
    margin-right: 45px;
  
  }

  .btn-box a:nth-child(1) {

    color: black;
  
  }
  

  .home-socials {

    bottom: 200px;
    display: row;
  
  }
  
  .home-socials a {
  
    display: flex;
    width: 50px;
    height: 50px;
  
  }

}

@media (max-width:414px) and (max-height: 896px)  {

  .image-container {

    display: none;

  }

  nav {

    padding-right: 0px;
  
  }
  
  nav ul li {
  
    margin: 0 10px;
     
  }
  
  nav ul li a {
  
    font-size: 35px;
  
  }

  .logo {

    padding-left: 5px;
    font-size: 38px;
  
  }

  /* Home media query */

  .home {

    height: 85vh;
    display: flex;
    align-items: center;
  
  }
  
  .home-content {
  
    max-width: 300px;
  
  }
  
  .home-content h1 {
    
    margin-bottom: 25px;
    font-size: 27px;
    font-weight: 850;
  
  }
  
  .home-content h3 {
  
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
  
  }
  
  .home-content p {
  
    font-size: 16px;
    line-height: 1.6; 
    margin: 15px 0 30px; 
  
  
  }
  
  .home-content .btn-box {
  
    width: 355px;
    height: 50px;
  
  }

  .btn-box a {

    margin-top: 20px;
    margin-right: 45px;
  
  }

  .btn-box a:nth-child(1) {

    color: black;
  
  }
  

  .home-socials {

    bottom: 150px;
  
  }
  
  .home-socials a {
  
    display: flex;
    width: 50px;
    height: 50px;
  
  }

}

@media (max-width:390px) and (max-height: 844px)  {

  .image-container {

    display: none;

  }

  nav {

    padding-right: 0px;
  
  }
  
  nav ul li {
  
    margin: 0 10px;
     
  }
  
  nav ul li a {
  
    font-size: 35px;
  
  }

  .logo {

    padding-left: 5px;
    font-size: 38px;
  
  }

  /* Home media query */

  .home {

    height: 85vh;
    display: flex;
    align-items: center;
  
  }
  
  .home-content {
  
    max-width: 300px;
  
  }
  
  .home-content h1 {
    
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 850;
  
  }
  
  .home-content h3 {
  
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
  
  }
  
  .home-content p {
  
    font-size: 16px;
    line-height: 1.6; 
    margin: 15px 0 30px; 
  
  
  }
  
  .home-content .btn-box {
  
    width: 355px;
    height: 50px;
  
  }

  .btn-box a {

    margin-top: 20px;
    margin-right: 45px;
  
  }

  .btn-box a:nth-child(1) {

    color: black;
  
  }

  .home-socials {

    bottom: 150px;
  
  }
  
  .home-socials a {
  
    display: flex;
    width: 50px;
    height: 50px;
  
  }

}

@media (max-width:375px) and (max-height: 667px)  {

  .image-container {

    display: none;

  }

  nav {

    padding-right: 0px;
  
  }
  
  nav ul li {
  
    margin: 0 10px;
     
  }
  
  nav ul li a {
  
    font-size: 35px;
  
  }

  .logo {

    padding-left: 5px;
    font-size: 38px;
  
  }

  /* Home media query */

  .home {

    height: 100vh;
    display: flex;
    align-items: center;
  
  }
  
  .home-content {
  
    max-width: 300px;
  
  }
  
  .home-content h1 {
    
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 850;
  
  }
  
  .home-content h3 {
  
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
  
  }
  
  .home-content p {
  
    font-size: 16px;
    line-height: 1.6; 
    margin: 15px 0 30px; 
  
  
  }
  
  .home-content .btn-box {
  
    width: 355px;
    height: 50px;
  
  }

  .btn-box a {

    margin-right: 45px;
  
  }

  .btn-box a:nth-child(1) {

    color: black;
  
  }

  .home-socials {

    bottom: 20px;
    flex-direction: row; /* Stack the links vertically */
  
  }
  
  .home-socials a {
  
    display: flex;
    width: 50px;
    height: 50px;
  
  }

}
