/* Color Variables */
:root {

  --off-white: #FAF9F6;
  --ultra-black: #000000;

}

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

a {

  text-decoration: none;
  color: inherit;

}

body {

  display: flex;
  flex-direction: column;
  background-color: var(--off-white);
  color: var(--off-white);
  font-family: 'Poppins', sans-serif;

}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Navbar styles */
.logo {

  padding-left: 25px;
  font-size: 45px;
  color: var(--ultra-black);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.8s;
  opacity: 0;
  display: flex;
  animation: fade-in 1s forwards;

}

.nav-container {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  opacity: 0;
  animation: fade-in 1s forwards;

}

nav {

  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav ul {

  display: flex;
  list-style: none;

}

nav ul li {

  display: flex;
  margin: 0 17px;

}

nav ul li a {

  display: flex;
  color: var(--ultra-black);
  text-decoration: none;
  font-size: 35px;
  position: relative;

}

nav ul li a::after {

  content: '';
  width: 0%;
  height: 3px;
  background: var(--ultra-black);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.6s;

}

nav ul li a:hover::after {

  width: 100%;

}

/* Main Content styles */
.home {

  height: 97vh;
  display: flex;
  align-items: center;
  padding: 0 10%;

}

.home-content {

  margin-top: 90px;
  color: var(--ultra-black);
  display: flexbox;
  max-width: 600px;

}

.home-content h1 {

  display: flex;
  color: var(--ultra-black);
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 850;
  opacity: 0;
  animation: fade-in 1s forwards;

}

#greeting {

  display: flex;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: var(--ultra-black);
  font-weight: bold;

}

.home-content h3 {

  display: flex;
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--ultra-black);
  opacity: 0;
  animation: fade-in 1s forwards;

}

.home-content p {

  font-size: 1rem;
  margin: 15px 0 40px;
  opacity: 0;
  display: flex;
  animation: fade-in 1s forwards;

}

.home-content .btn-box {

  display: flex;
  justify-content: space-between;
  width: 355px;
  height: 50px;
  opacity: 0;
  animation: fade-in 1s forwards;

}

/* Contact Me and Get CV buttons */
.btn-box a {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 100%;
  background: var(--off-white);
  border: 2px solid var(--ultra-black);
  border-radius: 5000px;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1.5px;
  transition: all 0.3s;

}

.btn-box a:nth-child(1):hover {

  color: black;

}

.btn-box a:nth-child(2) {

  background: transparent;
  color: var(--ultra-black);

}

.btn-box a:hover {

  transform: scale(1.2);

}

/* Social Media Icons */
.home-socials {

  width: 170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
  margin: 50px 0;
  animation: fade-in 1s forwards;

}

.home-socials a {

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2.5px solid var(--ultra-black);
  border-radius: 50%;
  font-size: 30px;
  color: var(--ultra-black);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;

}

.home-socials a::before {

  content: '';
  position: absolute;
  display: inline-flex;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--ultra-black);
  z-index: -1;
  transition: 0.5s;

}

.home-socials a:hover::before {

  width: 100%;

}

.home-socials a:hover {

  color: var(--off-white);

}

.image-container {

  display: inline-flexbox;
  text-align: right;

}

.portrait {
  display: inline-flexbox;
  margin-left: 180px;
  width: 451px;
  opacity: 0; 
  animation: fade-in 1s forwards; 
}

/* About Me */
.about {

  color: var(--ultra-black);
  width: 100%;
  padding: 78px 0px;
  margin: 10px auto;
  opacity: 0; 
  animation: fade-in 0.5s ease-in-out;

}

.about.fade-in {

  opacity: 1; 

}

.about h3 {

  font-size: 3rem;

}

.about h5 {

  margin: 10px 0;
  font-size: 1.5rem;

}

.about img {

  height: auto;
  width: 500px;
  border-radius: 10px;

}

.about-text {

  width: 550px;
  animation-delay: 0.2s;

}

.main {

  width: 1130px;
  max-width: 95%;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

footer {

  color: var(--ultra-black); 
  font-size: 12px;
  text-align: center;

}

#who-i-am {

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: var(--ultra-black);
  font-weight: bold;

}

.about {

  animation: fade-in 0.5s ease-in-out; 
  opacity: 1; 
  transform: translateY(0); 
  animation: fade-in 0.5s ease-in-out;

}

.about.fade-in {
  opacity: 1; 
}

/* Portfolio Content */
.projects {

  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;

}

.projects-heading {
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.projects-heading span {
  color: var(--ultra-black);
}

.projects-heading h3 {
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0; /* Remove default margin */
}

.projects-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;

}

.projects-container h4 {

  display: flex;
  flex-direction: column; 
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;

}

.projects-container p {

  text-align: left;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column; 
  text-align: center;

}

.project-box {

  width: 800px;
  padding: 15px;
  border: 1px solid var(--ultra-black);
  margin: 20px;

}

.project-box img {

  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;

}

.project-description p {

  font-size: 30px; 
  margin-top: 10px; 

}

.project-link {

  display: block; 
  margin-top: 10px; 
  color: var(--ultra-black); 
  text-decoration: none; 
  text-align: center;

}

.project-link:hover {

  text-decoration: underline;

}

.projects-container .project-box {

  opacity: 0; 
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards, slideInUp 0.5s ease forwards; 

}

@keyframes fadeInUp {
  to {
    opacity: 1; 
  }
}

@keyframes slideInUp {
  to {
    transform: translateY(0);
  }
}


/* Media Queries */

/* Default styles (for screens up to 768px wide) */
@media (max-width: 768px) {
  
  
  .logo {

    font-size: 1.5rem;

  }
  .nav-container {
    
    padding: 10px; 
  }

  .home-content h1 {
    font-size: 1.5rem; 
  }

  .home-content h3 {
    font-size: 1.5rem; 
  }

  .home-content p {
    font-size: 0.9rem; 
  }

  .home-socials {
    bottom: 1px; 
  }

  .image-container {

    display: none;
  
  }
  
  .portrait {
    
    display: none;

  }

  .home-content p {

    font-size: 1rem;
    margin: 15px 3px;
    opacity: 0;
    display: flex;
    animation: fade-in 1s forwards;
  
  }

  nav ul li a {

    display: flex;
    font-size: 1.5rem;
  
  }

  .nav-container {

    width: 100%;
    display: flex;
    
  }

  nav {

    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: baseline;
  
  }

}

/* Medium-sized screens (768px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Larger screens (greater than 1024px) */
@media (min-width: 1025px) {

}
